{% extends '/admin/admin_layout.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block content %}
        <p>Contenu Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nulla cum rem consequatur iste, id deserunt, neque sit optio, eveniet excepturi corrupti? Quasi similique repudiandae eos impedit nihil quia dicta!</p>
{% endblock %}