@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Quicksand:wght@500&display=swap');

body {
    font-family: Yeseva One,sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}
nav a {
    margin-right: 10px;
}
form input, form textarea {
    display: block;
    margin: 10px 0;
    padding: 5px;
}
