@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Quicksand:wght@500&display=swap');

body {
    padding: 20px;
    background-color: #fcfff9;
}

nav, h1, h2{
    font-family: Yeseva One,sans-serif;
}

#imgNous, #imgDomaine {
  width: 20vw;
}
nav a {
    margin-right: 10px;
}
form input, form textarea {
    display: block;
    margin: 10px 0;
    padding: 5px;
}
