{% extends 'layout.twig' %}

{% block content %}
<h1>Questions fréquentes</h1>

{% if questions is not empty %}
    <ul class="faq-list">
        {% for q in questions %}
            <li>
                <strong>{{ q.nom }}</strong> : {{ q.question }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucune question pour le moment.</p>
{% endif %}
{% endblock %}
